body {
    background: rgba(255,255,255,1);
  /*font-family: Courier, monospace;*/
    font-family: ofelia-text, sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
    overflow-x: hidden;
  height: 100%;
}

* {
	    box-sizing: border-box;
}

h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 3.5rem;
}

h1 span {
	color: #4897B2;
}


h2.highlight:hover {
    display: inline-block;
    margin-bottom: 0rem;
    padding: 0rem;
    color: white;
    background-color: rgba(72,151,178,0.5);
}

hr {
    width: 50%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgba(72,151,178,0.5);
    margin-top: 20px;
}

/*img#webdesigners {
    max-width: 700px;
}

img#blockkingproject {
    max-width: 700px;
}*/

.dreespageimage {
    width: 80%;
}

.drees-info-text {
    margin: 0px;
    padding: 0rem 0rem;
}

.row-padding {
    padding: 5rem 0rem 0rem 0rem;
    margin: 0px;
}

.row-padding-center {
    padding: 3rem 0rem 0rem 0rem;
    margin: 0px;
}

.row-padding-end {
    padding: 5rem 0rem 4rem 0rem;
    margin: 0px;
}

#photo01 {
    background-image: url(imgs/slide01.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

#photo02 {
    background-image: url(imgs/slide02.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

#photo03 {
    background-image: url(imgs/slide03.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

/*TYPE EFFECT*/

.typewriter {
    font-family: ofelia-text, sans-serif;
    padding: 1rem;
	display: inline-block;
}

/*DREES CONSULTING*/

.typewriter-text {
    display: block;
  	overflow: hidden;
  	letter-spacing: 6px;
 	animation: 	typingdrees 1.5s cubic-bezier(.83,.02,.23,.98) 1s alternate both,
 				blinkingdrees .75s step-end 4;
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 500;
    color: #012d59;
/*    background-color: #000000;*/
    padding: 0px;
    margin-bottom:-10px;
    border-right: 0px solid transparent;
    box-sizing: border-box;
}

/*div.typewriter-text:hover {
	color: rgba(72,151,178,1);
}*/

@keyframes typingdrees {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinkingdrees {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: transparent; 
    }
}

/*CREATE. MANAGE. DELIVER*/

.typewriter-text2 {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: 	typing 3s steps(21, end) 3.5s alternate both,
 				blinking .75s step-end 2s infinite;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    color: #012d59;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    margin-top: 15px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
}

img[src*="code_icon"] {
	height: 80px;
}

/*.carousel-item {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}*/

/*.active {
	display: flex !important;
	align-items: baseline;
	justify-content: flex-end;
}*/

.carousel-inner {
    height: 298px;
}

.carousel-caption {
	position: relative;
	top: 0%;
	right:0;
	left: 0%;
	bottom: 0;
	padding: 70px 0px 0px 3rem;
	width: 100%;

}

/*.carousel-caption-2 {
    text-align: right;
    position: relative;
    top: 0%;
    right:0;
    left: 0%;
    bottom: 0;
    padding: 70px 0px 0px 3rem;
    width: 100%;

}*/

.carousel-heading {
	text-align: right;
    font-family: ofelia-text, sans-serif;
    font-size: 1.8rem;
	font-weight: 400;
/*    color: #ffffff;*/
	color: #012d59;
	display: block;
	margin: 0px;
	white-space: normal;
    text-transform: uppercase;  

}


.carousel-heading span{
/*    background-color: #012d59;*/
	background-color: transparent;

}

/*.carousel-heading span:hover{
    background-color: rgba(72,151,178,1);

}*/

.carousel-subtext {
    text-align: right;
    font-family: ofelia-text, sans-serif;
	font-size: 1.1rem;
/*    color: #ffffff;*/
    color: #012d59;
	padding-top: 20px;
	font-weight: 700;
	display: block;
	justify-content: flex-end;
	white-space: normal;
	text-transform: uppercase;
}

.carousel-subtext span{
/*    background-color: #012d59;*/
    background-color: transparent;

}

#drees-a-m-d {
    padding: 3rem;
}

#blue-drees-anime{
	background-color: rgba(163,203,216,1);
	margin-top: 63px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

/*EXTEND THE PAGE*/
section.extend-page {
	padding-bottom: 0px;
}