
* {
	    box-sizing: border-box;
}

.blurb h2 {
	color: #4897B2;
	font-weight: 100;
	font-size: 2rem;
}

.blurb p {
	color: #50A8C6;
	font-weight: 100;
	font-size: 1rem;
	line-height: 2rem;
}

#heading-group h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	font-size: 3.5rem;
}

#heading-group h1 span {
	color: #4897B2;
}

.carousel-inner {
	height: 800px;
}

#photo01 {
    background-image: url(imgs/slide01.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

#photo02 {
    background-image: url(imgs/slide02.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

#photo03 {
    background-image: url(imgs/slide03.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 0;
}

/*TYPE EFFECT*/

.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

/*DREES CONSULTING*/

.typewriter-text {
    display: block;
  	overflow: hidden;
  	letter-spacing: 4px;
 	animation: 	typingdrees 1.5s cubic-bezier(.83,.02,.23,.98) 1s alternate both,
 				blinkingdrees .75s step-end 4;
    white-space: nowrap;
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border-right: 0px solid transparent;
    box-sizing: border-box;
}

/*div.typewriter-text:hover {
	color: rgba(72,151,178,1);
}*/

@keyframes typingdrees {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinkingdrees {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: transparent; 
    }
}

/*ANTICIPATE. MANAGE. DELIVER*/

.typewriter-text2 {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: 	typing 3s steps(28, end) 3.5s alternate both,
 				blinking .75s step-end 2.5s infinite;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 700;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    margin-top: 10px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
}

img[src*="code_icon"] {
	height: 80px;
}

/*.carousel-item {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}*/

/*.active {
	display: flex !important;
	align-items: baseline;
	justify-content: flex-end;
}*/

.carousel-caption {
	position: relative;
	top: 0%;
	right:0;
	left: 0%;
	bottom: 0;
	padding: 50px 50px 50px 50px;
	text-align: left;
	width: 75%;

}

.carousel-heading {
	font-size: 3.2rem;
	font-weight: 600;
	color: #ffffff;
	display: block;
	margin: 0px;
	white-space: normal;

}


.carousel-heading span{
	background-color: #000000;

}

.carousel-heading span:hover{
	background-color: rgba(72,151,178,1);

}

.carousel-subtext {
	font-size: 1.5rem;
	color: #ffffff;
	padding-top: 20px;
	font-weight: 400;
	display: block;
	justify-content: flex-end;
	white-space: normal;
	text-transform: uppercase;
}

#blue-drees-anime{
	background-color: rgba(72,151,178,0.5);
	margin-top: 68px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

/*EXTEND THE PAGE*/
section.extend-page {
	padding-bottom: 160px;
}