/*
html {
	width: 100%;
	padding: 0px
	margin: 0px;
}*/
body {
	background: rgba(255,255,255,1);
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}

p {	color: #50A8C6;
	font-weight: 100;
	font-size: 1rem;
	line-height: 2rem;
}

.navbar {
	background-color: rgba(72,151,178,0.5);
}

#navbar-main .navbar-brand:hover {
	color: rgb(241, 116, 220);
}

#nav-links {
	font-size: 1.2rem;
	font-weight: 100;
	color: white;
}

#nav-links .nav-link:hover {
	color: white;
	font-weight: 100;
}

#nav-links .nav-link.active:hover {
	color: white;
	font-weight: 300;
	font-size: 1.2rem;
}

#nav-links .nav-link.active {
	color: white;
	font-weight: 300;
}

/*.dropdown .dropdown-menu {
	margin-top: 0;
	border-radius:0;
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
	display: none;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	border-radius:0;
 }

div .dropdown-menu {
	padding-top: 100px;
}*/

.dropdown-item {
	color: white;
	font-weight: 200;
	padding: 4px 12px;
	margin: 0px;
}

.dropdown-item:hover {
	background-color: rgba(72,151,178,0);
	font-weight: 400;
}

.dropdown-item.active {
    font-weight: 400;
    background-color: #000000;
    text-decoration: none;
	padding: 4px 12px;
	display: inline-block;
}

.dropdown-item.active:hover {
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
	padding: 4px 12px;
}

.navbar.scrolled {
	background:rgba(72,151,178,1);
	transition: background 1600ms;
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,0);
}


.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: rgb(255,255,255); }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  .hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 132px;
	background-color: rgba(72,151,178,1);
	color: white;
	text-align: center;
}

#email-text {
	color: white;
	font-size: 1.2rem;
	font-weight: 100;
}

#email-text:hover {
	color: white;
	font-weight: 300;
	text-decoration: none;
}

.thumbnail {
	color: rgba(255,255,255,0.7);
	font-size: 1.6rem;
}

.thumbnail:hover {
	color: white;
	/* font-size: 1.1rem; */
	text-decoration: none;
}

.footer-copyright {
	font-size: 0.9rem;
	font-weight: 200;
	margin-top: 5px;
	color: rgba(255,255,255,0.7);
}

.row.rowprofiles{
	margin-bottom: 150px;
}

