
 .row-padding {
    padding: 1rem 3rem;
 }

.jumbotron {
    /*position: relative;*/
    /*top: 63px;*/
    margin-top: 63px;
    background-color: rgba(163,203,216,1);
    padding: 3rem;
}

p.jumbotext {
    text-align: justify;
    /*width: 50%;*/
    margin: 0px;
}

h2.highlight {
    /*display: inline-block;*/
    margin: 0 0 2rem 0;
    padding: 1rem 0rem 1rem 0rem;
    font-weight: 500;
    color: rgba(72,151,178,1);
    background-color: rgba(72,151,178,0.2);
}

h5.highlight {
    display: inline-block;
    margin: 0px;
    padding: 0.5rem;
    font-weight: 300;
    color: rgba(72,151,178,1);
    background-color: rgba(72,151,178,0.2);
}

p.quote {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4897B2;
    /*font-family: Courier, monospace;*/
}

.display-3 {
    color: #4897B2;
    font-weight: 100;
}

hr {
    width: 50%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgba(72,151,178,0.5);
    margin-top: 20px;
}

h6 {
    font-size: 0.8rem;
    color: rgba(0,0,0,1);
}

.card {
    border: none;
}

/*TYPE EFFECT*/

.typewriter {
    font-family: Courier, monospace;
    display: inline-block;
}

/*NEWS*/

.typewriter-text {
    display: block;
    overflow: hidden;
    letter-spacing: 4px;
    animation:  typing 2s cubic-bezier(.83,.02,.23,.98) 0.5s alternate both,
                blinking .75s step-end 0;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    border-right: 0px solid transparent;
    box-sizing: border-box;
}

div.typewriter-text:hover {
    color: rgba(72,151,178,1);
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: transparent; 
    }
}

/*Reviews, Insights + Opinions*/

.typewriter-text2 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation:  typing 3.5s steps(43, end) 3s alternate both,
                blinking .75s step-end 2s infinite;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    margin-top: 15px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
}

/*EXTEND THE PAGE*/
section.extend-page {
    padding-bottom: 0px;
}

.btn-outline-success {
    color: rgba(72,151,178,1);
    border: solid 1px #4897B2;
    /*background-color: rgba(72,151,178,1);*/
}

.btn-outline-success:hover {
    background:rgba(72,151,178,0.5);    
    border: solid 1px rgba(72,151,178,0.5);
    color: white;
}


.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72,151,178,0.5);
}


.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: rgba(72,151,178,1);
  border-color: rgba(72,151,178,1);
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(rgba(72,151,178,0.5);
}
