
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

/*OUR TEAM*/

.typewriter-text {
    display: block;
  	overflow: hidden;
  	letter-spacing: 4px;
 	animation: 	typing 2s cubic-bezier(.83,.02,.23,.98) 0.5s alternate both,
 				blinking .75s step-end 0;
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    border-right: 0px solid transparent;
    box-sizing: border-box;
}

div.typewriter-text:hover {
    color: rgba(72,151,178,1);
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: transparent; 
    }
}

/*Arch, Code, Create + Collab*/

.typewriter-text-2 {
    display: block;
    overflow: hidden;
    letter-spacing: 2px;
    animation:  typing 3.5s steps(54, end) 3.5s alternate both,
                blinking .75s step-end 2s infinite;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    margin-top: 15px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blinking {
    from, to { 
        border-color: transparent; 
    }
    50% { 
        border-color: orange; 
    }
}